<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>
  To get help on this sample app, see <thead>
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
